# Basics
*.py[cod]
__pycache__

# Logs
*.log
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml
shippable

# Translations
*.mo
*.pot

# Pycharm
.idea

# Vim
*~
*.swp
*.swo

# npm
node_modules/

# Campass
.sass-cache

# Local
*.box
.env
.vagrant
db.sqlite3
local_settings.py
staticfiles
celerybeat-schedule
results.db
*.DS_Store
*._data.csv
api/data.csv
api/data.json